body {
    font-family: 'Poppins', sans-serif;
}
.bg-navbar{
    background-color: #EDF1D6;
}

.bg-soft{
    background-color: #EDF1D6;
}
.bg-semi-soft{
    background-color: #9DC08B;
}
.bg-medium{
    background-color: #609966;
}
.bg-hard{
    background-color: #40513B;
}
.color-text-soft{
    color: #EDF1D6;
}
.color-text-footer{
    color: #9DC08B;
}

.color-text-navbar{
    color: #609966;
}
.color-text-navbar:hover{
    color: #40513B;
}
.color-text-navbar:active{
    color: #40513B
}
.color-text-h1{
    color: #40513B
}
h1{
    color: #40513B;
}
.color-text-p{
    color: #609966
}

.container-menu {  display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.25fr 1fr 0.25fr 1fr 0.25fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". tes2 ."
        "tes1 tes2 tes3"
        "tes1 tes5 tes3"
        "tes4 tes5 tes6"
        "tes4 . tes6"; 
}
.tes1 { grid-area: tes1; }
.tes2 { grid-area: tes2; }
.tes3 { grid-area: tes3; }
.tes4 { grid-area: tes4; }
.tes5 { grid-area: tes5; }
.tes6 { grid-area: tes6; }

.img-menu{
    width: 135px;
    max-width: 200px;
    height: 135px; /* Menambahkan transisi untuk efek yang lebih halus */
    max-height: 200px;
    overflow: hidden; /* Hide overflowing content */
    /* transition: transform 0.5s ease-in-out; */
}
.img-menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;
}

.img-menu img:hover{
    transform: scale(1.1); /* Zooms in the image content */
}


@media (max-width: 767px) {
    .container-menu {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(3, auto); 
        grid-template-areas: 
            "tes1 tes4"
            "tes2 tes3"
            "tes5 tes6"; 
    }
}

@media (min-width: 1200px) {
    .img-menu{
        width: 200px;
        height: 200px;
    }
}